#ItemList_Box {
  float: left;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  flex-direction: row;
  width: 60vw;
  height: calc(100vh - 120px);
  margin: 32px;
  border: solid 1.5px #707070;
  overflow-y: scroll;
  resize: none;
}

#AddedItemList_Box {
  float: right;
  width: calc(40vw - 102px);
  height: calc(100vh - 240px);
  min-height: 280px;
  margin-right: 32px;
  margin-top: 32px;
  border: solid 1.5px #707070;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
}

#ResultCost_Box {
  float: right;
  text-align: right;
  font-size: 32px;
  margin-right: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: calc(40vw - 102px);
  height: 50px;
  border: solid 1.5px #707070;
}

#Btn_Box {
  float: right;
  margin-right: 32px;
  width: calc(40vw - 102px);
}

.btn_font {
  font-family: NotoSansCJKkr;
  font-size: 28px;
  text-align: center;
  color: #4d4d4d;
}

.btn_reset {
  margin-right: 2vw;
  width: calc(calc(38vw - 102px) / 2);
  height: 40px;
}

.btn_submit {
  width: calc(calc(38vw - 102px) / 2);
  height: 40px;
}

.stock {
  width: 120px;
  display: inline-block;
  font-weight: 1000;
  margin: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stock_img {
  width: 120px;
  flex: 1;
}
