.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
}

.container .box1 {
  position: relative;
  left : -webkit-calc(50% - 240px - 8px); /* for Chrome, Safari */
  width: 480px;
  height: 60px;
  border: solid 1px #707070;
  background-color: #ffffff;
  text-align: center;
  font-size: 40px;
}

.container .box2 {
  margin-top:40px;
  position: absolute;
  left : -webkit-calc(50% - 400px - 8px); /* for Chrome, Safari */
  width: -webkit-calc(820px);
  height: 410px;
  float: left;
  border: solid 1px #404040;
  background-color: #ffffff;
  text-align: center;
  font-size: 40px;
}

.Selector {
  position: static;
  margin:20px;
  float:left;
  width:360px;
  height:360px;
  background-color: white;
  border: solid 4px #404040;
}

.container a {
  font-size: 1.4rem;
  color: #707070;
}
