.header {
  display: flex;
  align-items: center;
  text-align: left;
  width: auto;
  height: 50px;
  background-color: #09bbfe;
}

.header_text {
  position: relative;
  font-family: NotoSansCJKkr;
  top: -2px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  padding-left: 16px;
  letter-spacing: normal;
  color: #333333;
}

#link_area {
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: flex-end;
}

.name_space {
  position: absolute;
  right: 10px;
  top: 55px;
}

.btn_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 32px;
  text-align: center;
  border-radius: 0px;
  background-color: #009ad5;
  margin-left: 8px;
}

.btn_link_font {
  position: relative;
  top: -2px;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.btn_link:hover {
  border-radius: 10px;
  background-color: #77daff;
}

.btn_link_pressed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 32px;
  text-align: center;
  background-color: #77daff;
  margin-left: 8px;
}

.btn_link_pressed:hover {
  border-radius: 10px;
}
