.header {
  display: flex;
  align-items: center;
  text-align: left;
  width: auto;
  height: 50px;
  background-color: #09bbfe;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.header_text {
  position: relative;
  font-family: NotoSansCJKkr;
  top: -2px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  padding-left: 16px;
  letter-spacing: normal;
  color: #333333;
}

#link_area {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}

.btn_Setting {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.btn_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 32px;
  text-align: center;
  border-radius: 0px;
  background-color: #009ad5;
  margin-left: 8px;
}

.btn_link_font {
  position: relative;
  top: -2px;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.btn_link:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 32px;
  text-align: center;
  border-radius: 10px;
  background-color: #77daff;
  margin-left: 8px;
}
