input {
  padding: 0;
}

#wrapper {
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  height: 100vh;
  width: 100vw;
}

#login_container {
  padding: 20px;
  width: 480px;
  height: 360px;
  text-align: center;
  display: inline-block;
  float: right;
}

.btn_login {
  width: 320px;
  height: 40px;
  border-radius: 16px;
  background-color: #09bbfe;
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 10px 0;
}

.join_font {
  position: relative;
  top: -8px;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
}

.chk_option {
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  border: solid 1px #707070;
  background-color: #ffffff;
}

.chk_area {
  position: relative;
  top: -12px;
  left: 32px;
  vertical-align: top;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  color: #4d4d4d;
}

.textfield {
  float: left;
  width: 300px;
  height: 24px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin: 10px;
}

.label_font {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: right;
  color: #4d4d4d;
}

.Eliverd_logo {
  width: 160px;
  height: 160px;
  object-fit: contain;
  border-radius: 10px;
}

.search_register_area {
  width: 480px;
  height: 200px;
}

.search_results {
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
  overflow-y: scroll;
  resize: none;
  background-color: #dddddd;
}

.selected_register {
  margin: 10px;
  width: 200px;
  height: 200px;
  float: right;
  overflow-y: scroll;
  resize: none;
  display: inline-block;
  background-color: #dddddd;
}
